@import "~bootstrap/scss/bootstrap";

.App {
  color: black;
  // margin: 6rem;
  margin: 6rem auto;
  // display: flex;
}

// add to each file accordingly

// this goes to Hoc.js
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// this goes to each mail folder (inbox, spam, etc...)
li {
  border-bottom: 1px solid gray;
}
