.Item {
  width: 70%;
  margin: 3em auto;

  .title {
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    padding-top: 30px;

    .li {
      padding: 10px;
      cursor: pointer;
      border-left: 3px solid transparent;

      // this delete
      position: relative;

      &:hover {
        border-left: 3px solid black;
      }
    }

    input[type="checkbox"]:checked  {
      background-color: lightpink;
      box-shadow: 0 0 0 3px hotpink;
      color: lime;
      // position: absolute;
      // border: 1px solid orange;
      // height: 1rem;
      // width: 1rem;
      // background-color: wheat;
      // -webkit-appearance: none;
      // -moz-appearance: none;
      // appearance: none;
    }
    input:checked + label {
      color: red;
      background-color: lime;
    }
    
    .checked {
      background-color: black;
      color: blue ; 
      // margin: 20px;
      padding: 30px;
  }

    .fa-star {
      margin-left: 5px;
      margin-right: 20px
    }

    .sender {

    }

    .fa-trash {
      float: right;
    }

    .email {
      padding-left: 30px;
    }
  }
}